{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->

        <div class="row">
            <aside class="col-lg-8">
                <h5 class="text-center mb-10">Review Your Order and Make Payment</h5>
                <div class="card">
                    <h5 class="card-header">Billing Address</h5>
                    <div class="card-body">
                      <p class="card-text mb-0">{{ order.full_name }}</p>
                      <p class="card-text mb-0">{{ order.full_address }}</p>
                      <p class="card-text mb-0">{{ order.city }}, {{ order.state }}</p>
                      <p class="card-text mb-0">{{ order.country }}</p>
                      <p class="card-text mb-0">{{ order.email }}</p>
                      <p class="card-text mb-0">{{ order.phone_number }}</p>
                      {% if order.order_note %}
                      <p class="card-text mt-1 mb-0">Order Note: {{ order.order_note }}</p>
                      {% endif %}
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Payment Method</h5>
                    <div class="card-body">
                      <p class="card-text">PayPal</p>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Review Products</h5>
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ item.product.images.url }}" class="img-sm">
                                            </div>
                                            <figcaption class="info">
                                                <a href="{{ item.product.get_url }}" class="title text-dark">{{ item.product }}</a>
                                                <p class="text-muted small">
                                                    {% if item.variations.all %}
                                                    {% for variation in item.variations.all %}
                                                    {{ variation.variation_category|capfirst }}: {{ variation.variation_value }}
                                                    <br>
                                                    {% endfor %}
                                                    {% endif %}
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <!-- col.// -->
                                        <div class="col">
                                            <div class="input-group input-spinner">
                                                <label for="quantity">{{ item.quantity }}</label>
                                            </div> <!-- input-group.// -->
                                        </div> <!-- col.// -->
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">$ {{ item.subtotal }}</var>
                                            <small class="text-muted"> ${{ item.product.price }} each</small>
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                    <form action="{% url 'delete_cart' item.product.id  item.id %}" method="POST">
                                        {% csrf_token %}
                                        {% for variation in item.variations.all %}
                                        <input type="hidden" name="{{ variation.variation_category|lower }}"
                                            value="{{ variation.variation_value|capfirst }}">
                                        {% endfor %}
                                    </form>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </aside> <!-- col.// -->
            
            <aside class="col-lg-4">

                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">${{ total }}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tax:</dt>
                            <dd class="text-right"> ${{ tax }}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Grand Total:</dt>
                            <dd class="text-right text-dark b"><strong>${{ grand_total }}</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="{% static './images/misc/payments.png' %}" height="26">
                        </p>
                        <a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> Make Payment </a>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </aside> <!-- col.// -->


        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
</body>

</html>
{% endblock %}